<!DOCTYPE html>
<html>
  <head>
    <title>Mad-libs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill out the form to write your own story!</h1>
    <form action="/madlibs" method="post">
    <label for="person1">A Persons Name</label>
    <input id="person1" name="person1" type="text">
    <label for="person2">Another Persons Name</label>
    <input id="person2" name="person2" type="text">
    <label for="animal">An Animal</label>
    <input id="animal" name="animal" type="text">
    <label for="exclamation">An Exclamation</label>
    <input id="exclamation" name="exclamation" type="text">
    <label for="verb">A Verb</label>
    <input id="verb" name="verb" type="text">
    <label for="noun">A Noun</label>
    <input id="noun" name="noun" type="text">
    <button type="submit">Create Story!</button>
    </form>
  </body>
</html>